<div class="container-fluid fixed-bottom">
    <div class="row" id="footer">
            <div class="center-f">
                Copyright &copy; www.EscobarFoods.com.pk | All rights reserved!
            </div>
        </footer>
    </div>
</div>


</body>

</html>