<nav id="navbar">
    <ul>
        <li class="item"><a href="/admin/home">Manage Admins</a></li>
        <li class="item"><a href="/admin/orders">Orders</a></li>
        <li class="item"><a href="/admin/add-items">Add Items</a></li>
        <li class="item"><a href="/admin/remove-items">Remove Items</a></li>
        <li class="item"><a href="/admin/update-items">Update Items</a></li>
    </ul>
</nav>
