<nav  id="navbar">
    <ul>
        <li class="item"><a href="/">Home</a></li>
        <li class="item"><a href="/login">Account</a></li>
        <li class="item"><a href="/categories">Categories</a></li>
        <li class="item"><a href="/menu">Menu</a></li>
        <li class="item"><a href="/My-Cart">Cart</a></li>
        <li class="item"><a href="/My-Orders">My Orders</a></li>
        <li class="item"><a href="/Contact-Us">Contact Us</a></li>
    </ul>
    </div>
</div>
</nav>

