<%- include('partials/headeradmin.ejs') %> 
<%- include('partials/navbaradmin.ejs') %> 
    <div class="container" >
        <div class="row">
            <div class="col-md-6 login" id="login">
      
                <form action="/admin/add-admin" method="POST">
                  <h1 class="h-primary center" id="welcome ">New Admin</h1>
                  <div class="row">
                    <div class="mb-3 col-md-12 col-lg-12">
                        <label for="name">Name</label>
                        <input type="text" name="name" required="required" class="form-control" id="Name"  >
                      </div>
                    <div class="mb-3 col-md-12 col-lg-12">
                      <label for="userName">User Name</label>
                      <input type="text" name="userName" required="required" class="form-control" id="userName"  >
                    </div>
                    <div class="mb-3 col-md-12 col-lg-12">
                      <label for="password">Password</label>
                      <input type="password" name="password" required="required" class="form-control" id="Password" >
                    </div>
                  </div>
                    <div class="col-md-12 ">
                      <button type="submit" class="add-btn" >Add</button>
                    </div>
                    </div>
                  
                </form>
              </div>
        </div>
    </div>
</body>

</html>