<%- include('partials/header.ejs') %> 
<%- include('partials/navbar.ejs') %>  
<div class="container home">
  <section id="categories-container ">
    <h1 class="h-primary center">Our Categories</h1>
    <div id="categories">
        <div class="box">
            <img src="https://images.everydayhealth.com/images/diet-nutrition/34da4c4e-82c3-47d7-953d-121945eada1e00-giveitup-unhealthyfood.jpg?sfvrsn=a31d8d32_0" alt="">
            <a href="/categories/food"><h2 class="h-secondary center">Food</h2></a>
            
        </div>
        <div class="box">
            <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F23%2F2020%2F04%2F01%2Fgrocery-store-safety-2000.jpg" alt="">
            <a href="/categories/grocery"><h2 class="h-secondary center">Grocery</h2></a>
          </div>  
</section>
</div>
<%- include('partials/footer.ejs') %> 