<%- include('partials/header.ejs') %> 
<%- include('partials/navbar.ejs') %>  
<div class="container home">
  <section id="categories-container ">
    <h1 class="h-primary center">Food</h1>
    <div id="categories">
        <div class="box">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjVxfu4zXZEx98mCp2mjI8dMi4zfjwpYAZzg&usqp=CAU" alt="">
            <a href="/menu"><h2 class="h-secondary center">Pickup</h2></a>
            
        </div>
        <div class="box">
            <img src="https://cdn.pixabay.com/photo/2020/05/25/08/40/food-delivery-5217579_1280.png" alt="">
            <a href="/menu"><h2 class="h-secondary center">Home Delivery</h2></a>
          </div>  
        <div class="box">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8Iz9Y7gKewMeh6UEtWnlNafv1FEdu3eB17w&usqp=CAU" alt="">
            <a href="/menu"><h2 class="h-secondary center">Dine In</h2></a>
            
        </div>

</section>
</div>
<%- include('partials/footer.ejs') %> 