<%- include('partials/header.ejs') %> 
<%- include('partials/navbar.ejs') %>  
<div class="container home">
  <section id="categories-container ">
    <h1 class="h-primary center">Food Categories</h1>
    <div id="categories">
        <div class="box">
            <img src="https://pickvisa.com/storage/public/articles/7be20e992d6d49bc8d1b0136d05c0f35.jpg?__cf_chl_jschl_tk__=e7d76893f83f8d842caab645d37e9c4bf934aef5-1624709526-0-AeyyRCCyhFUqB5f8ZsC9FDaHKQxWf5QPrWIZd-FfvNK9ETRsNPWylqTkPpksKt5YFk9Bqkr1uefh1m-yIrDFypxqKE_JZTAEOA_-3vFk3Jea6-7Je16TEYyaskx6gP7uDcJaF7KfOo8-ii8-mNZgIR5cs9onEOLqkhbVE1PTf3nFbOrtr7i1FRsBkWNz7EZJ6_s8I-tdyhhQ-GLJOgYtNKkqc4dpjbXFbGBaAGAaGnrKz282RlUxK7Ikcu5g9WMtTSlMY9tSqXRZKf62KoDXOlFQSv6tBKlgmhZID7b-nODwMpoSwwhMYba0H_Zui3uu-M-Flu10QnEl1QxVTmkQf142pSTwkh5mOwIHp9DNKWg-pigG4oJaPV9V68i-NfZX6gIg7Pg9nLoggJMaKq6JyT1b7e8vFj4LZPKtsqFjWw2r9YwXFm9rEOqc2piSRmUNNh1MaGKlIyVV3DuEjqU4fd4t28lDxFPO6AgayRoFYce9" alt="">
            <a href="/menu/fast-food"><h2 class="h-secondary center">Fast Food</h2></a>
            
        </div>
        <div class="box">
            <img src="https://i.pinimg.com/originals/9c/da/d6/9cdad64b43512717a2a8a9e3973766b3.gif" alt="">
            <a href="/menu/desi"><h2 class="h-secondary center">Desi</h2></a>
          </div>  
        <div class="box">
            <img src="https://www.youlinmagazine.com/articles/1792.jpg" alt="">
            <a href="/menu/chinese"><h2 class="h-secondary center">Chinese</h2></a>
            
        </div>

</section>
</div>
<%- include('partials/footer.ejs') %> 